@charset "UTF-8";

* {
  font-family: monospace;
  margin: 0px;
  padding: 0px;
}
body {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
form#bg {
  border-radius: 35px;
  position: relative;
  display: flex;
  text-align: center;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: rgb(37, 37, 37);
  box-shadow: 0px 0px 10px aqua, 0px 0px 15px aqua;
  transition: all 0.3s ease-in-out;
}

form#bg:hover {
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 0px 10px aqua, 0px 0px 20px aqua, 0px 0px 25px aqua;
  filter: brightness(1.2);
}

h1 {
  font-size: 2em;
  padding-bottom: 50px;
}

input {
  padding: 5px;
  font-weight: bolder;
}
form > input.button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

label {
  font-size: 1.5em;
  padding-bottom: 10px;
}
