@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  font-family: monospace;
}

body {
  text-align: center;
  background-color: grey;
}

header {
  color: white;
}
header > h1 {
  margin-top: 20px;
  font-weight: bolder;
  color: black;
  text-shadow: 0px 0px 3px white;
}

section {
  width: 500px;
  height: 350px;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  box-shadow: 5px 5px 10px black;
  border-radius: 20px;
}

#msg {
  padding: 10px;
  font-size: 1.5em;
  font-weight: bolder;
}

div > img {
  border-radius: 50%;
}

#foto {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

footer > p {
  background-color: black;
  width: 100%;
  position: fixed;
  bottom: 0px;
  padding: 5px;
  color: white;
  font-style: italic;
}
