@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  font-family: monospace;
}

body {
  background-color: lightslategrey;
}

header {
  color: white;
  text-align: center;
}

section {
  width: 500px;  
  background-color: white;
  border-radius: 10px;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  box-shadow: 5px 5px 10px black;
  border-radius: 20px;
}
p {
  font-weight: bolder;
  text-align: center;
  margin: 20px;
  padding: 5px;
}
input {
  display: flex;
  margin: auto;
  padding: 5px;
  background-color: rgba(222, 184, 135, 0.418);
}

footer {
  text-align: center;
  padding: 20px;
  color: white;
  font-style: italic;
}
