@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  font-family: monospace;
}

body {
  background-color: lightslategrey;
}

header {
  color: white;
  text-align: center;
}

section {
  width: 500px;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  box-shadow: 5px 5px 10px black;
  border-radius: 20px;
}
#flist {
  width: 150px;
}

footer {
  text-align: center;
  padding: 20px;
  color: white;
  font-style: italic;
}
